{% extends "base.html" %}

{% load filters %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col text-center">
                <h1>QUESTIONS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for question in questions %}
                    <div class="row mb-5">
                        <div class="col">
                            <!-- question -->
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <h4>
                                            <span class="fw-bold text-black-50">QUESTION {{ forloop.counter }}:</span>
                                        </h4>
                                        <h6>
                                            {% for tag in question.tags.all %}<span class="badge text-bg-primary me-2">{{ tag.name }}</span>{% endfor %}
                                        </span>
                                    </h6>
                                    <h5>{{ question.text |safe }}</h5>
                                </div>
                                {% if question.image_url %}
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="img-fluid" src="{{ question.image_url }}" alt="question image" />
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- end question -->
                        <div class="row">
                            <div class="col-3">
                                <h4 class="fw-bold text-black-50">Choices:</h4>
                                <div class="row">
                                    {% for index, answer in question.options.all|enumerate_queryset %}
                                        <ul class="list-group">
                                            {% if answer.is_correct %}
                                                <li class="list-group-item active">
                                                    <span class="badge rounded-circle text-bg-light me-2">{{ index|letter }}</span> {{ answer.text }}
                                                </li>
                                            {% else %}
                                                <li class="list-group-item">
                                                    <span class="badge rounded-circle text-bg-secondary me-2">{{ index|letter }}</span> {{ answer.text }}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- solution -->
                        <div class="row mt-4">
                            <div class="col">
                                <h4>
                                    <span class="fw-bold text-black-50">SOLUTION:</span> {{ question.solution.content | safe }}
                                </h4>
                                {% if question.solution.image_url %}
                                    <div class="row">
                                        <div class="col-3">
                                            <img class="img-fluid"
                                                 alt="solution image"
                                                 src="{{ question.solution.image_url }}" />
                                        </div>
                                    </div>
                                {% endif %}
                                <h4>
                                    <span class="fw-bold text-black-50">STEPS:</span>
                                </h4>
                                {% for step in question.solution.steps.all %}
                                    <h5>
                                        <span class="fw-bold text-black-50">STEP {{ forloop.counter }}</span>
                                    </h5>
                                    <h6>{{ step.title | safe }}</h6>
                                    <h5>
                                        <span class="fw-bold text-black-50">RESULT</span>
                                    </h5>
                                    {{ step.result | safe }}
                                    {% if step.image_url %}
                                        <div class="row">
                                            <div class="col-3">
                                                <img class="img-fluid" alt="" src="{{ step.image_url }}" />
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
